@import url("https://fonts.googleapis.com/css2?family=Actor&family=Bungee&family=Changa:wght@500&family=Fugaz+One&family=Jura:wght@700&family=Play:wght@700&family=Space+Grotesk:wght@500&display=swap");
/* font-family: 'Actor', sans-serif;

font-family: 'Bungee', cursive;

font-family: 'Changa', sans-serif;

font-family: 'Fugaz One', cursive;

font-family: 'Jura', sans-serif;

font-family: 'Play', sans-serif;

font-family: 'Space Grotesk', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}

/* body {
  background-color: rgb(24, 26, 27);
  background: url("https://source.unsplash.com/collection/190727/1600x900")
    no-repeat center center/cover;
} */
header::before {
  /* background: url("https://source.unsplash.com/collection/190727/1600x900")
    no-repeat center center/cover; */
  background: url("back2.jpg") no-repeat center center/cover;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(4px);
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home h2,
.home p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Changa", sans-serif;
  font-size: 2.5vw;
  letter-spacing: 2px;
  padding: 0.5em;
}
.home p {
  font-size: 1.5vw;
  width: 50rem;
}

.box {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
}
#box-1,
#box-2,
#box-3 {
  /* border: 2px solid red; */
  /* margin: 5px; */
  padding: 20px;
  flex-basis: min-content;
}
.box img {
  width: 390px;
  padding: 30px 30px 13px 0;
}
